
.loginform{
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(145, 28, 13);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    width: 500px;
    height: 450px;
    text-align: center;
    margin-top: 100px;
    padding-top: 54px;
}
#buttonLog{
    width: 250px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

    
}
#buttonLog:hover{
    opacity: 0.6;
}
section{
    margin: auto;
}
.loginform input{
    padding:10px ;
    margin-top:50px;
}