.myclass{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
text-align: center;
}

.classa{
    color: aliceblue;
    font-size: x-large;
    text-decoration: none;
}
.classul{
    list-style-type: none;
}